{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <h2> About Me</h2>
        <p>
            I am Sahil Gangurde, a 3rd year undergrad student at IIIT, Gwalior. My main interests are image processing, computer graphics, machine learning/deep learning and algorithms in general. 
            I have done few projects in the above fields which can be viewed on my github profile(<a href="https://github.com/lostmartian">link here</a>)
        </p>
    </div>  
</div>


{% endblock content %}